<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.nurseworkstation.dao.PaymentRecordMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.nurseworkstation.bean.PaymentRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="cash" jdbcType="DECIMAL" property="cash" />
    <result column="unionpay" jdbcType="DECIMAL" property="unionpay" />
    <result column="wechatpay" jdbcType="DECIMAL" property="wechatpay" />
    <result column="alipay" jdbcType="DECIMAL" property="alipay" />
    <result column="cmedicare" jdbcType="DECIMAL" property="cmedicare" />
    <result column="pmedicare" jdbcType="DECIMAL" property="pmedicare" />
    <result column="member_balance" jdbcType="DECIMAL" property="memberBalance" />
    <result column="coupon" jdbcType="DECIMAL" property="coupon" />
    <result column="creditpay" jdbcType="DECIMAL" property="creditpay" />
    <result column="sys_payment_way_id" jdbcType="INTEGER" property="sysPaymentWayId" />
    <result column="sys_payment_way_amount" jdbcType="DECIMAL" property="sysPaymentWayAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="disparity_amount" jdbcType="DECIMAL" property="disparityAmount" />
    <result column="sys_clinic_id" jdbcType="INTEGER" property="sysClinicId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nwt_payment_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.nurseworkstation.bean.PaymentRecord">
    insert into nwt_payment_record (id, lsh, cash,
      unionpay, wechatpay, alipay,
      cmedicare, pmedicare, member_balance,
      coupon, creditpay, sys_payment_way_id,
      sys_payment_way_amount, actual_amount, disparity_amount,
      sys_clinic_id, creator_id, creation_date
      )
    values (#{id,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{cash,jdbcType=DECIMAL},
      #{unionpay,jdbcType=DECIMAL}, #{wechatpay,jdbcType=DECIMAL}, #{alipay,jdbcType=DECIMAL},
      #{cmedicare,jdbcType=DECIMAL}, #{pmedicare,jdbcType=DECIMAL}, #{memberBalance,jdbcType=DECIMAL},
      #{coupon,jdbcType=DECIMAL}, #{creditpay,jdbcType=DECIMAL}, #{sysPaymentWayId,jdbcType=INTEGER},
      #{sysPaymentWayAmount,jdbcType=DECIMAL}, #{actualAmount,jdbcType=DECIMAL}, #{disparityAmount,jdbcType=DECIMAL},
      #{sysClinicId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.nurseworkstation.bean.PaymentRecord">
    update nwt_payment_record
    set lsh = #{lsh,jdbcType=VARCHAR},
      cash = #{cash,jdbcType=DECIMAL},
      unionpay = #{unionpay,jdbcType=DECIMAL},
      wechatpay = #{wechatpay,jdbcType=DECIMAL},
      alipay = #{alipay,jdbcType=DECIMAL},
      cmedicare = #{cmedicare,jdbcType=DECIMAL},
      pmedicare = #{pmedicare,jdbcType=DECIMAL},
      member_balance = #{memberBalance,jdbcType=DECIMAL},
      coupon = #{coupon,jdbcType=DECIMAL},
      creditpay = #{creditpay,jdbcType=DECIMAL},
      sys_payment_way_id = #{sysPaymentWayId,jdbcType=INTEGER},
      sys_payment_way_amount = #{sysPaymentWayAmount,jdbcType=DECIMAL},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      disparity_amount = #{disparityAmount,jdbcType=DECIMAL},
      sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, lsh, cash, unionpay, wechatpay, alipay, cmedicare, pmedicare, member_balance,
    coupon, creditpay, sys_payment_way_id, sys_payment_way_amount, actual_amount, disparity_amount,
    sys_clinic_id, creator_id, creation_date
    from nwt_payment_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, lsh, cash, unionpay, wechatpay, alipay, cmedicare, pmedicare, member_balance,
    coupon, creditpay, sys_payment_way_id, sys_payment_way_amount, actual_amount, disparity_amount,
    sys_clinic_id, creator_id, creation_date
    from nwt_payment_record
  </select>


  <!-- ************************************************************************************************************* -->

  <select id="selectByLsh" resultMap="BaseResultMap">
    select *
    from nwt_payment_record
    where lsh = #{lsh}
  </select>

  <select id="selectClinicListByCriteria" resultType="map">
    select *
    from view_nwt_payment_record
    <trim prefix="where" suffixOverrides="and">
      <if test="creationDate != null &amp;&amp; creationDate.length == 2">
        (DATE_FORMAT(creationDate, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
      </if>
      <if test="sysClinicId != null">
        (sysClinicId = #{sysClinicId}) and
      </if>
      <if test="lsh != null &amp;&amp; lsh.trim() != ''">
        (lsh like '${lsh}%') and
      </if>
      <if test="creatorName != null &amp;&amp; creatorName.trim() != ''">
        (creatorName like '${creatorName}%' or creatorCode like '${creatorName}%') and
      </if>
    </trim>
    order by creationDate desc
  </select>

  <select id="selectClinicGroupByLsh" resultType="map">
    select
      lsh,
      SUM(cash) AS cash,
      SUM(unionpay) AS unionpay,
      SUM(wechatpay) AS wechatpay,
      SUM(alipay) AS alipay,
      SUM(cmedicare) AS cmedicare,
      SUM(pmedicare) AS pmedicare,
      SUM(memberBalance) AS memberBalance,
      SUM(creditpay) AS creditpay,
      SUM(coupon) AS coupon,
      SUM(sysPaymentWayAmount) AS sysPaymentWayAmount,
      SUM(actualAmount) AS actualAmount,
      SUM(disparityAmount) AS disparityAmount,
      sysClinicId,
      creatorName
    from view_nwt_payment_record
    where sysClinicId = #{sysClinicId} and lsh = #{lsh}
    GROUP BY lsh

  </select>


</mapper>
