<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.system.dao.ClinicMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.system.bean.Clinic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="required" jdbcType="BIT" property="required" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_clinic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.system.bean.Clinic">
    insert into sys_clinic (id, name, code,
      tel, address, state, required
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, #{required,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.system.bean.Clinic">
    update sys_clinic
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      required = #{required,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, code, tel, address, state, required
    from sys_clinic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, code, tel, address, state, required
    from sys_clinic
  </select>

  <!-- ************************************************************************************************************* -->
  <select id="selectByCriteria" resultMap="BaseResultMap">
    select *
    from sys_clinic
    <trim prefix="where" suffixOverrides="and">
      <if test="name != null &amp;&amp; name.trim() != ''">
        (name like '${name}%' or code like '${name}%') and
      </if>
    </trim>
    order by id desc
  </select>

  <select id="selectEnabled" resultMap="BaseResultMap">
    select *
    from sys_clinic
    where state is true
  </select>

  <select id="selectEnabledLikeByName" resultMap="BaseResultMap">
    select *
    from sys_clinic
    where
      (name like '${name}%' or code like '${name}%') and
      state is true
    limit 30
  </select>

</mapper>
