<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.system.dao.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.system.bean.Doctor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="main_sys_clinic_id" jdbcType="INTEGER" property="mainSysClinicId" />
    <result column="sub_sys_clinic_id" jdbcType="INTEGER" property="subSysClinicId" />
    <result column="sub_sys_clinic_expiry_date" jdbcType="DATE" property="subSysClinicExpiryDate" />
    <result column="sys_clinic_room_id" jdbcType="INTEGER" property="sysClinicRoomId" />
    <result column="doctor_titles_id" jdbcType="INTEGER" property="doctorTitlesId" />
    <result column="practice_type_id" jdbcType="INTEGER" property="practiceTypeId" />
    <result column="sys_practice_scope_id" jdbcType="INTEGER" property="sysPracticeScopeId" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="signature_url" jdbcType="VARCHAR" property="signatureUrl" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.system.bean.Doctor">
    insert into sys_doctor (id, main_sys_clinic_id, sub_sys_clinic_id,
      sub_sys_clinic_expiry_date, sys_clinic_room_id, doctor_titles_id,
      practice_type_id, sys_practice_scope_id, intro,
      avatar_url, signature_url, creator_id,
      creation_date)
    values (#{id,jdbcType=INTEGER}, #{mainSysClinicId,jdbcType=INTEGER}, #{subSysClinicId,jdbcType=INTEGER},
      #{subSysClinicExpiryDate,jdbcType=DATE}, #{sysClinicRoomId,jdbcType=INTEGER}, #{doctorTitlesId,jdbcType=INTEGER},
      #{practiceTypeId,jdbcType=INTEGER}, #{sysPracticeScopeId,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR},
      #{avatarUrl,jdbcType=VARCHAR}, #{signatureUrl,jdbcType=VARCHAR}, #{creatorId,jdbcType=INTEGER},
      #{creationDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.system.bean.Doctor">
    update sys_doctor
    set main_sys_clinic_id = #{mainSysClinicId,jdbcType=INTEGER},
      sub_sys_clinic_id = #{subSysClinicId,jdbcType=INTEGER},
      sub_sys_clinic_expiry_date = #{subSysClinicExpiryDate,jdbcType=DATE},
      sys_clinic_room_id = #{sysClinicRoomId,jdbcType=INTEGER},
      doctor_titles_id = #{doctorTitlesId,jdbcType=INTEGER},
      practice_type_id = #{practiceTypeId,jdbcType=INTEGER},
      sys_practice_scope_id = #{sysPracticeScopeId,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      signature_url = #{signatureUrl,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, main_sys_clinic_id, sub_sys_clinic_id, sub_sys_clinic_expiry_date, sys_clinic_room_id,
    doctor_titles_id, practice_type_id, sys_practice_scope_id, intro, avatar_url, signature_url,
    creator_id, creation_date
    from sys_doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, main_sys_clinic_id, sub_sys_clinic_id, sub_sys_clinic_expiry_date, sys_clinic_room_id,
    doctor_titles_id, practice_type_id, sys_practice_scope_id, intro, avatar_url, signature_url,
    creator_id, creation_date
    from sys_doctor
  </select>



  <!-- ************************************************************************************************************* -->

  <select id="selectClinicListByCriteria" resultType="map">
    select *
    from view_sys_doctor
    <trim prefix="where" suffixOverrides="and">
      <if test="sysClinicName != null &amp;&amp; sysClinicName.trim() !=''">
        (sysClinicName like '${sysClinicName}%' or sysClinicCode like '${sysClinicName}%') and
      </if>
      <if test="name != null &amp;&amp; name.trim() !=''">
        (name like '${name}%' or code like '${name}%') and
      </if>
    </trim>
    order by sysClinicId, id
  </select>

  <select id="selectClinicEnabled" resultType="map">
    select *
    from view_sys_doctor
    where
      (sysClinicId = #{sysClinicId}) and
      (state is true)
  </select>


</mapper>
