<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.system.dao.PracticeScopeMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.system.bean.PracticeScope">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="practice_type_id" jdbcType="INTEGER" property="practiceTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_practice_scope
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.system.bean.PracticeScope">
    insert into sys_practice_scope (id, practice_type_id, name,
      code)
    values (#{id,jdbcType=INTEGER}, #{practiceTypeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.system.bean.PracticeScope">
    update sys_practice_scope
    set practice_type_id = #{practiceTypeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, practice_type_id, name, code
    from sys_practice_scope
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, practice_type_id, name, code
    from sys_practice_scope
  </select>

  <!-- ************************************************************************************************************* -->
  <select id="selectByCriteria" resultType="map">
    select *
    from view_sys_practice_scope
    <trim prefix="where" suffixOverrides="and">
      <if test="practiceTypeId != null">
        (practiceTypeId = #{practiceTypeId}) and
      </if>
      <if test="name != null &amp;&amp; name.trim() != ''">
        (name like '${name}%' or code like '${name}%') and
      </if>
    </trim>
    order by id desc
  </select>

  <select id="selectByPracticeTypeId" resultMap="BaseResultMap">
     select *
     from sys_practice_scope
     where practice_type_id = #{practiceTypeId}
  </select>














</mapper>
