<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.purchase.dao.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.purchase.bean.Supplier">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="account_licence" jdbcType="VARCHAR" property="accountLicence" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="invoice_type_id" jdbcType="INTEGER" property="invoiceTypeId" />
    <result column="payment_type_id" jdbcType="INTEGER" property="paymentTypeId" />
    <result column="arrearages_amount" jdbcType="DECIMAL" property="arrearagesAmount" />
    <result column="arrearages_limit" jdbcType="DECIMAL" property="arrearagesLimit" />
    <result column="arrearages_days" jdbcType="TINYINT" property="arrearagesDays" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="taxpayer_type_id" jdbcType="INTEGER" property="taxpayerTypeId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contacter" jdbcType="VARCHAR" property="contacter" />
    <result column="contacter_phone" jdbcType="VARCHAR" property="contacterPhone" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="business_licence" jdbcType="VARCHAR" property="businessLicence" />
    <result column="bl_expiry_date" jdbcType="DATE" property="blExpiryDate" />
    <result column="hygienic_license" jdbcType="VARCHAR" property="hygienicLicense" />
    <result column="hl_expiry_date" jdbcType="DATE" property="hlExpiryDate" />
    <result column="production_licence" jdbcType="VARCHAR" property="productionLicence" />
    <result column="pl_expiry_date" jdbcType="DATE" property="plExpiryDate" />
    <result column="gsp_licence" jdbcType="VARCHAR" property="gspLicence" />
    <result column="gsp_expiry_date" jdbcType="DATE" property="gspExpiryDate" />
    <result column="gmp_licence" jdbcType="VARCHAR" property="gmpLicence" />
    <result column="gmp_expiry_date" jdbcType="DATE" property="gmpExpiryDate" />
    <result column="instrument_licence" jdbcType="VARCHAR" property="instrumentLicence" />
    <result column="il_expiry_date" jdbcType="DATE" property="ilExpiryDate" />
    <result column="food_license" jdbcType="VARCHAR" property="foodLicense" />
    <result column="fl_expiry_date" jdbcType="DATE" property="flExpiryDate" />
    <result column="food_production_licence" jdbcType="VARCHAR" property="foodProductionLicence" />
    <result column="fpl_expiry_date" jdbcType="DATE" property="fplExpiryDate" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creation_date" jdbcType="DATE" property="creationDate" />
    <result column="last_updater_id" jdbcType="INTEGER" property="lastUpdaterId" />
    <result column="last_update_date" jdbcType="DATE" property="lastUpdateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pem_supplier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.purchase.bean.Supplier">
    insert into pem_supplier (id, oid, name,
      code, account_licence, bank_name,
      card_no, invoice_type_id, payment_type_id,
      arrearages_amount, arrearages_limit, arrearages_days,
      legal_person, tel, fax,
      taxpayer_type_id, address, contacter,
      contacter_phone, business_scope, remarks,
      business_licence, bl_expiry_date, hygienic_license,
      hl_expiry_date, production_licence, pl_expiry_date,
      gsp_licence, gsp_expiry_date, gmp_licence,
      gmp_expiry_date, instrument_licence, il_expiry_date,
      food_license, fl_expiry_date, food_production_licence,
      fpl_expiry_date, state, creator_id,
      creation_date, last_updater_id, last_update_date
      )
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR}, #{accountLicence,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR},
      #{cardNo,jdbcType=VARCHAR}, #{invoiceTypeId,jdbcType=INTEGER}, #{paymentTypeId,jdbcType=INTEGER},
      #{arrearagesAmount,jdbcType=DECIMAL}, #{arrearagesLimit,jdbcType=DECIMAL}, #{arrearagesDays,jdbcType=TINYINT},
      #{legalPerson,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR},
      #{taxpayerTypeId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{contacter,jdbcType=VARCHAR},
      #{contacterPhone,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{businessLicence,jdbcType=VARCHAR}, #{blExpiryDate,jdbcType=DATE}, #{hygienicLicense,jdbcType=VARCHAR},
      #{hlExpiryDate,jdbcType=DATE}, #{productionLicence,jdbcType=VARCHAR}, #{plExpiryDate,jdbcType=DATE},
      #{gspLicence,jdbcType=VARCHAR}, #{gspExpiryDate,jdbcType=DATE}, #{gmpLicence,jdbcType=VARCHAR},
      #{gmpExpiryDate,jdbcType=DATE}, #{instrumentLicence,jdbcType=VARCHAR}, #{ilExpiryDate,jdbcType=DATE},
      #{foodLicense,jdbcType=VARCHAR}, #{flExpiryDate,jdbcType=DATE}, #{foodProductionLicence,jdbcType=VARCHAR},
      #{fplExpiryDate,jdbcType=DATE}, #{state,jdbcType=BIT}, #{creatorId,jdbcType=INTEGER},
      #{creationDate,jdbcType=DATE}, #{lastUpdaterId,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.purchase.bean.Supplier">
    update pem_supplier
    set oid = #{oid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      account_licence = #{accountLicence,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      invoice_type_id = #{invoiceTypeId,jdbcType=INTEGER},
      payment_type_id = #{paymentTypeId,jdbcType=INTEGER},
      arrearages_amount = #{arrearagesAmount,jdbcType=DECIMAL},
      arrearages_limit = #{arrearagesLimit,jdbcType=DECIMAL},
      arrearages_days = #{arrearagesDays,jdbcType=TINYINT},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      taxpayer_type_id = #{taxpayerTypeId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      contacter = #{contacter,jdbcType=VARCHAR},
      contacter_phone = #{contacterPhone,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      business_licence = #{businessLicence,jdbcType=VARCHAR},
      bl_expiry_date = #{blExpiryDate,jdbcType=DATE},
      hygienic_license = #{hygienicLicense,jdbcType=VARCHAR},
      hl_expiry_date = #{hlExpiryDate,jdbcType=DATE},
      production_licence = #{productionLicence,jdbcType=VARCHAR},
      pl_expiry_date = #{plExpiryDate,jdbcType=DATE},
      gsp_licence = #{gspLicence,jdbcType=VARCHAR},
      gsp_expiry_date = #{gspExpiryDate,jdbcType=DATE},
      gmp_licence = #{gmpLicence,jdbcType=VARCHAR},
      gmp_expiry_date = #{gmpExpiryDate,jdbcType=DATE},
      instrument_licence = #{instrumentLicence,jdbcType=VARCHAR},
      il_expiry_date = #{ilExpiryDate,jdbcType=DATE},
      food_license = #{foodLicense,jdbcType=VARCHAR},
      fl_expiry_date = #{flExpiryDate,jdbcType=DATE},
      food_production_licence = #{foodProductionLicence,jdbcType=VARCHAR},
      fpl_expiry_date = #{fplExpiryDate,jdbcType=DATE},
      state = #{state,jdbcType=BIT},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=DATE},
      last_updater_id = #{lastUpdaterId,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, oid, name, code, account_licence, bank_name, card_no, invoice_type_id,
    payment_type_id, arrearages_amount, arrearages_limit, arrearages_days, legal_person,
    tel, fax, taxpayer_type_id, address, contacter, contacter_phone, business_scope,
    remarks, business_licence, bl_expiry_date, hygienic_license, hl_expiry_date, production_licence,
    pl_expiry_date, gsp_licence, gsp_expiry_date, gmp_licence, gmp_expiry_date, instrument_licence,
    il_expiry_date, food_license, fl_expiry_date, food_production_licence, fpl_expiry_date,
    state, creator_id, creation_date, last_updater_id, last_update_date
    from pem_supplier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, oid, name, code, account_licence, bank_name, card_no, invoice_type_id,
    payment_type_id, arrearages_amount, arrearages_limit, arrearages_days, legal_person,
    tel, fax, taxpayer_type_id, address, contacter, contacter_phone, business_scope,
    remarks, business_licence, bl_expiry_date, hygienic_license, hl_expiry_date, production_licence,
    pl_expiry_date, gsp_licence, gsp_expiry_date, gmp_licence, gmp_expiry_date, instrument_licence,
    il_expiry_date, food_license, fl_expiry_date, food_production_licence, fpl_expiry_date,
    state, creator_id, creation_date, last_updater_id, last_update_date
    from pem_supplier
  </select>


  <!--***************************************************************************************************************-->

  <update id="addArrearagesAmount">
    update pem_supplier
    set arrearages_amount = arrearages_amount + #{amount}
    where id = #{id}
  </update>

  <update id="subtractArrearagesAmount">
    update pem_supplier
    set arrearages_amount = arrearages_amount - #{amount}
    where id = #{id}
  </update>

  <select id="selectByCriteria" resultType="map">
    select *
    from view_pem_supplier
    <trim prefix="where" suffixOverrides="and">
      <if test="state != null">
        (state = #{state}) and
      </if>
      <if test="arrearagesAmount != null">
        (arrearagesAmount >= #{arrearagesAmount}) and
      </if>
      <if test="arrearagesLimit != null">
        (arrearagesLimit &lt;= #{arrearagesLimit}) and
      </if>
      <if test="arrearagesDays != null">
        (arrearagesDays &lt;= #{arrearagesDays}) and
      </if>
      <if test="oid != null &amp;&amp; oid.trim() != ''">
        (oid like '${oid}%')  and
      </if>
      <if test="name != null &amp;&amp; name.trim() != ''">
        (name like '${name}%' or code like '${name}%')  and
      </if>
      <if test="contacterPhone != null &amp;&amp; contacterPhone.trim() != ''">
        (contacterPhone like '${contacterPhone}%')  and
      </if>
    </trim>
    order by id desc
  </select>

  <select id="selectEnabledLikeByName" resultType="map">
    select *
    from
      view_pem_supplier
    where
      (name like '${name}%' or code like '${name}%') and
      (state is true)
    order by id desc
    LIMIT 30
  </select>


</mapper>
