<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.member.dao.PointsRecordMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.member.bean.PointsRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="mrm_member_id" jdbcType="INTEGER" property="mrmMemberId" />
    <result column="exchange_points" jdbcType="INTEGER" property="exchangePoints" />
    <result column="given_points" jdbcType="INTEGER" property="givenPoints" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="sys_clinic_id" jdbcType="INTEGER" property="sysClinicId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mrm_points_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.member.bean.PointsRecord">
    insert into mrm_points_record (id, lsh, mrm_member_id,
      exchange_points, given_points, points,
      sys_clinic_id, creator_id, creation_date
      )
    values (#{id,jdbcType=INTEGER}, #{lsh,jdbcType=VARCHAR}, #{mrmMemberId,jdbcType=INTEGER},
      #{exchangePoints,jdbcType=INTEGER}, #{givenPoints,jdbcType=INTEGER}, #{points,jdbcType=INTEGER},
      #{sysClinicId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.member.bean.PointsRecord">
    update mrm_points_record
    set lsh = #{lsh,jdbcType=VARCHAR},
      mrm_member_id = #{mrmMemberId,jdbcType=INTEGER},
      exchange_points = #{exchangePoints,jdbcType=INTEGER},
      given_points = #{givenPoints,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      sys_clinic_id = #{sysClinicId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, lsh, mrm_member_id, exchange_points, given_points, points, sys_clinic_id,
    creator_id, creation_date
    from mrm_points_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, lsh, mrm_member_id, exchange_points, given_points, points, sys_clinic_id,
    creator_id, creation_date
    from mrm_points_record
  </select>


  <!-- ************************************************************************************************************* -->
  <select id="selectByCriteria" resultType="map">
    select *
    from view_mrm_points_record
    <trim prefix="where" suffixOverrides="and">
      <if test="creationDate != null &amp;&amp; creationDate.length == 2">
        (DATE_FORMAT(creationDate, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
      </if>
      <if test="lsh != null &amp;&amp; lsh.trim() != ''">
        (lsh like '${lsh}%') and
      </if>
      <if test="mrmMemberName != null &amp;&amp; mrmMemberName.trim() != ''">
        (mrmMemberName like '${mrmMemberName}%' or mrmMemberCode like '${mrmMemberName}%' or phone like '${mrmMemberName}%') and
      </if>
    </trim>
    order by creationDate desc
  </select>

  <select id="selectSumGivenPointsByLsh" resultType="int">
    select sum(ifnull(given_points, 0)) as givenPoints
    from mrm_points_record
    where lsh = #{lsh}
  </select>


</mapper>
