<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.member.dao.TownshipMapper">
  <resultMap id="BaseResultMap" type="com.chisapp.modules.member.bean.Township">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type_id" jdbcType="TINYINT" property="typeId" />
    <result column="type_no" jdbcType="SMALLINT" property="typeNo" />
    <result column="sys_location_id" jdbcType="INTEGER" property="sysLocationId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mrm_township
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chisapp.modules.member.bean.Township">
    insert into mrm_township (id, name, code,
      type_id, type_no, sys_location_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{typeId,jdbcType=TINYINT}, #{typeNo,jdbcType=SMALLINT}, #{sysLocationId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.chisapp.modules.member.bean.Township">
    update mrm_township
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=TINYINT},
      type_no = #{typeNo,jdbcType=SMALLINT},
      sys_location_id = #{sysLocationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, code, type_id, type_no, sys_location_id
    from mrm_township
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, code, type_id, type_no, sys_location_id
    from mrm_township
  </select>


  <!-- ************************************************************************************************************* -->

  <select id="selectMaxTypeNoByCriteria" resultType="short">
    SELECT IFNULL(MAX(type_no), 0) AS typegNo
    FROM mrm_township
    WHERE
      type_id = #{typeId} and
      sys_location_id = #{sysLocationId}
  </select>

  <select id="selectByCriteria" resultType="map">
    select *
    from view_mrm_township
    <trim prefix="where" suffixOverrides="and" >
      <if test="name != null  &amp;&amp; name.trim() != ''">
        (name like '${name}%' or code like '${name}%') and
      </if>
    </trim>
    order by id desc
  </select>

  <select id="selectViewAll" resultType="map">
    select *
    from view_mrm_township
    order by sysLocationId, typeNo
  </select>


</mapper>
