<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.datareport.dao.InventoryAddReportMapper">

  <!-- 采购成本 -->
  <select id="selectPurchaseCostAmountByCriteria" resultType="map">
    SELECT
      a.sys_clinic_id AS sysClinicId,
      b.`name` AS sysClinicName,
      b.`code` AS sysClinicCode,
      a.pem_supplier_id AS pemSupplierId,
      c.`oid` AS pemSupplierOid,
      c.`name` AS pemSupplierName,
      c.`code` AS pemSupplierCode,
      ROUND(SUM(IFNULL(a.hsje,0)),2) AS hsje,
      ROUND(SUM(IFNULL(a.wsje,0)),2) AS wsje
    FROM (
      SELECT
        sys_clinic_id,
        pem_supplier_id,
        hsje,
        wsje
      FROM (
        SELECT
        sys_clinic_id,
        pem_supplier_id,
        SUM(quantity * cost_price) AS hsje,
        SUM(quantity * (cost_price / (100 + purchase_tax_rate) * 100)) AS wsje
        FROM iym_inventory_add
        <trim prefix="where" suffixOverrides="and">
          <if test="creationDate != null &amp;&amp; creationDate.length == 2">
            (DATE_FORMAT(creation_date, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
          </if>
          <if test="sysClinicId != null">
            (sys_clinic_id = #{sysClinicId}) and
          </if>
          <if test="true">
            approve_state=1
          </if>
        </trim>
        GROUP BY sys_clinic_id, pem_supplier_id
      )a UNION ALL (
        SELECT
        sys_clinic_id,
        pem_supplier_id,
        SUM(quantity * cost_price * -1) AS hsje,
        SUM(quantity * (cost_price / (100 + purchase_tax_rate) * 100) * -1) AS wsje
        FROM iym_inventory_subtract
        <trim prefix="where" suffixOverrides="and">
          <if test="creationDate != null &amp;&amp; creationDate.length == 2">
            (DATE_FORMAT(creation_date, '%Y-%m-%d') between #{creationDate[0]} and #{creationDate[1]}) and
          </if>
          <if test="sysClinicId != null">
            (sys_clinic_id = #{sysClinicId}) and
          </if>
          <if test="true">
            approve_state=1
          </if>
        </trim>
        GROUP BY sys_clinic_id, pem_supplier_id
      )
    ) a
    LEFT JOIN sys_clinic b ON a.sys_clinic_id = b.`id`
    LEFT JOIN pem_supplier c ON a.pem_supplier_id = c.`id`
    <trim prefix="where" suffixOverrides="and">
      <if test="sysClinicName != null &amp;&amp; sysClinicName.trim() != ''">
        (b.name like '${sysClinicName}%' or b.code like '${sysClinicName}%') and
      </if>
      <if test="pemSupplierName != null &amp;&amp; pemSupplierName.trim() != ''">
        (c.name like '${pemSupplierName}%' or c.code like '${pemSupplierName}%') and
      </if>
    </trim>
    GROUP BY a.sys_clinic_id, a.pem_supplier_id
    ORDER BY a.sys_clinic_id, a.pem_supplier_id
  </select>

</mapper>
