<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chisapp.modules.datareport.dao.SupplierRebateReportMapper">

  <!-- 库存返利 -->
  <select id="selectInventoryRebateByCriteria" resultType="map">
    SELECT
      a.*,
      b.`first_cost_price` AS firstCostPrice,
      b.`second_cost_price` AS secondCostPrice
    FROM (
        SELECT
          id, sysClinicId, sysClinicName, sysClinicCode, gsmGoodsId, gsmGoodsTypeId, gsmGoodsTypeName, gsmGoodsOid,
          gsmGoodsName, gsmGoodsCode, gsmGoodsSpecs, goodsUnitsId, goodsUnitsName, retailPrice, manufacturerName, originName,
          SUM(quantity) AS quantity, costPrice, purchaseTaxRate, sellTaxRate, splitQuantity,
          pemSupplierId, pemSupplierOid, pemSupplierName, pemSupplierCode
        FROM view_iym_inventory
        <trim prefix="where" suffixOverrides="and">
          <if test="true">
            (quantity > 0) and
          </if>
          <if test="gsmGoodsOid != null &amp;&amp; gsmGoodsOid.trim() != ''">
            (gsmGoodsOid = #{gsmGoodsOid}) and
          </if>
          <if test="gsmGoodsName != null &amp;&amp; gsmGoodsName.trim() != ''">
            (gsmGoodsName like '${gsmGoodsName}%' or gsmGoodsCode like '${gsmGoodsName}%') and
          </if>
          <if test="pemSupplierOid != null &amp;&amp; pemSupplierOid.trim() != ''">
            (pemSupplierOid = #{pemSupplierOid}) and
          </if>
          <if test="pemSupplierName != null &amp;&amp; pemSupplierName.trim() != ''">
            (pemSupplierName like '${pemSupplierName}%' or pemSupplierCode like '${pemSupplierName}%') and
          </if>
          <if test="sysClinicName != null &amp;&amp; sysClinicName.trim() != ''">
            (sysClinicName like '${sysClinicName}%' or sysClinicCode like '${sysClinicName}%') and
          </if>
        </trim>
        <if test="groupBy == 'clinic'">
          GROUP BY sysClinicId, gsmGoodsId, costPrice, splitQuantity, pemSupplierId
        </if>
        <if test="groupBy != 'clinic'">
          GROUP BY gsmGoodsId, costPrice, splitQuantity, pemSupplierId
        </if>
    ) a
    LEFT JOIN pem_supplier_rebate b ON a.pemSupplierId = b.`pem_supplier_id` AND a.gsmGoodsId = b.`gsm_goods_id`
    WHERE IFNULL(b.first_cost_price, -1) > -1
    ORDER BY a.sysClinicId, a.gsmGoodsOid, a.quantity
  </select>

  <!-- 销售返利 -->
  <select id="selectSellRebateByCriteria" resultType="map">

  </select>


</mapper>
